# big file  that github not store 
Videos
# waste to show this is only duplicate java to class when code execute 
*.class
# auto trigger
DSA/Basics/tempCodeRunnerFile.java
# setting compiling using file
.vscode
*.exe
DSA/Pointer/tempCodeRunnerFile.cpp
DSA/Pointer/note.txt
DSA/Array/note.txt
DSA/Function/note.txt
DSA/Function/tempCodeRunnerFile.cpp
*tempCodeRunnerFile
DSA/Array/tempCodeRunnerFile.cpp
