# big file  that github not store 
Videos
# waste to show this is only duplicate java to class when code execute 
*.class
# auto trigger
DSA/Basics/tempCodeRunnerFile.java
# setting compiling using file
.vscode
*.exe
DSA/Pointer/tempCodeRunnerFile.cpp
DSA/Pointer/note.txt
DSA/Array/note.txt
DSA/Function/note.txt
DSA/Function/tempCodeRunnerFile.cpp
*tempCodeRunnerFile.cpp
DSA/Array/tempCodeRunnerFile.cpp
DSA/String/note.txt
DSA/Sorting/note.txt
DSA/Sorting/tempCodeRunnerFile.cpp
DSA/Time&Space-Complexity/note
DSA/Searching/note.txt
DSA/Crash 29 Recursion/note.txt
DSA/Recursion/note.txt
DSA/OOP/notes.txt
DSA/OOP/Output.txt

*.txt
